.header {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 2px yellow;
  }
  

.header-center {
    display: flex;
    align-items: center;
}

