.wrapper-div {
    display: flex;
    justify-content: center;
  align-items: center;
    height: 500px;
  }
  
  .form-wrapper-div {
    width: 20%;
    margin-top: 100px;
  }
  
  .login-form-footer {
    display: flex;
    align-items: center;
  }
  
  .mat-form-field {
    width: 100%;
    font-size: 15px;
  }
  
  .mat-checkbox {
    font-size: 12px;
  }
  
  .mat-checkbox-inner-container {
    height: 13px;
    width: 13px;
  }
  