<div class="wrapper-div">
    <div class="form-wrapper-div">
      <form (ngSubmit)="login(f)"  #f="ngForm">
  
        <mat-form-field class="form-field">
          <input
          id="email" name="email"
          ngModel
          matInput
  
  
          
          placeholder="Email Id"
          type="text"
          required
          #email="ngModel">
          <mat-error *ngIf="!email.valid && email.touched">Enter email id</mat-error>
        </mat-form-field>
  
        <mat-form-field class="form-field">
          <input
          id="password" name="password"
          ngModel
          matInput
          placeholder="Password"
          type="password"
          required
          #password="ngModel">
          <mat-error *ngIf="!email.valid && email.touched">Please Enter Password</mat-error>
        </mat-form-field>
  
        <div class="login-form-footer">
          <div class="footer-left-div" style="width: 50%">
            <mat-checkbox >Remember Me</mat-checkbox>
          </div>
          <div class="footer-right-div" style="width: 50%; text-align: right">
            <button [disabled]="!f.valid" type="submit" style="cursor: pointer;height: 35px;width: 90px;" class="button-class">Login</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
  